In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/Users/namanmuktha/Desktop/crewlabs/mh-prod/Tel & Ap Data/Ap_sort_Mbbs.csv')

In [3]:
df.head()

,RANK,NEET_ROLL_NO,SCORE,SX,CAT,LOC,PHASE,COLLEGE,EWS
0,1503,1206060037,680,M,BCD,AU,P1,"Siddhartha Medical College, Vijayawada",NO
1,2599,1209010031,671,F,OC,AU,P1,"Siddhartha Medical College, Vijayawada",NO
2,5738,1205060436,655,M,OC,AU,P1,"Siddhartha Medical College, Vijayawada",NO
3,8695,1205090412,644,M,OC,APNL,P1,"Siddhartha Medical College, Vijayawada",NO
4,11748,1205050763,635,F,OC,SVU,P1,"Siddhartha Medical College, Vijayawada",NO

In [4]:
tem=pd.read_excel('/Users/namanmuktha/Desktop/crewlabs/mh-prod/Tel & Ap Data/AP MBBS SPL Reservations data Updated.xlsx')

In [5]:
tem.head()

   Serial no  AIQ Rank
0        1.0  295022.0
1        2.0  218177.0
2        3.0  227357.0
3        4.0  103038.0
4        5.0   61480.0

In [6]:
ranks=tem['AIQ Rank']

In [8]:
type(ranks)

pandas.core.series.Series

In [9]:
df = df[~df['RANK'].isin(ranks)]

In [10]:
df.head()

,RANK,NEET_ROLL_NO,SCORE,SX,CAT,LOC,PHASE,COLLEGE,EWS
0,1503,1206060037,680,M,BCD,AU,P1,"Siddhartha Medical College, Vijayawada",NO
1,2599,1209010031,671,F,OC,AU,P1,"Siddhartha Medical College, Vijayawada",NO
2,5738,1205060436,655,M,OC,AU,P1,"Siddhartha Medical College, Vijayawada",NO
3,8695,1205090412,644,M,OC,APNL,P1,"Siddhartha Medical College, Vijayawada",NO
4,11748,1205050763,635,F,OC,SVU,P1,"Siddhartha Medical College, Vijayawada",NO

In [12]:
df.to_csv('/Users/namanmuktha/Desktop/crewlabs/mh-prod/Tel & Ap Data/Ap_sort_Mbbs.csv',index=False)